body{
  width:100%;
  height:100%;
  font-family: sans-serif;
  background-image: linear-gradient(to top, #000d21, #0c2945, #14466d, #146697, #0088c2);
  background-attachment: fixed;
  background-size: cover;
  background-repeat: no-repeat;
}
